* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f8f9fa;
    color: #333;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #0077ff;
}

.logo {
    color: #0077ff;
}

/* HERO */
header {
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #0077ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #005fcc;
}

/* SECTIONS */
section {
    padding: 80px 10%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* PROJECTS */
.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

/* CONTACT */
#contact {
    background: #222;
    color: white;
}
